@charset "UTF-8";
html {
  font: 14px "Verdana", "Arial", ​sans-serif; }

.b-portfolio {
  max-width: 960px;
  overflow: hidden;
  padding: 0;
  margin: 0 -0.7em -0.7em 0; }
  .b-portfolio__item-inner {
    position: relative;
    margin: 0 0.7em 0.7em 0; }
  .b-portfolio__item-photo {
    width: 100%; }
  .b-portfolio__item:nth-child(1) {
    width: 100%; }
    .b-portfolio__item:nth-child(1) .b-portfolio__item-photo--large {
      display: block;
      width: 100%; }
    .b-portfolio__item:nth-child(1) .b-portfolio__item-contractor-pic-wrapper {
      display: table-cell; }
    .b-portfolio__item:nth-child(1) .b-portfolio__item-heading-username,
    .b-portfolio__item:nth-child(1) .b-portfolio__item-heading-photos-cnt {
      display: block; }
  .b-portfolio__item:nth-child(n+2):nth-child(-n+4) {
    float: left;
    width: 33.33333%; }
    .b-portfolio__item:nth-child(n+2):nth-child(-n+4) .b-portfolio__item-photo--small {
      display: block;
      width: 100%; }
  .b-portfolio__item:nth-child(n+4) {
    width: 33.3%;
    float: right; }
    .b-portfolio__item:nth-child(n+4):nth-child(3n+2) {
      width: 66.7%; }
      .b-portfolio__item:nth-child(n+4):nth-child(3n+2) .b-portfolio__item-photo--large {
        display: block;
        width: 100%; }
      .b-portfolio__item:nth-child(n+4):nth-child(3n+2) .b-portfolio__item-contractor-pic-wrapper {
        display: table-cell; }
      .b-portfolio__item:nth-child(n+4):nth-child(3n+2) .b-portfolio__item-heading-username,
      .b-portfolio__item:nth-child(n+4):nth-child(3n+2) .b-portfolio__item-heading-photos-cnt {
        display: block; }
    .b-portfolio__item:nth-child(n+4):nth-child(3n) .b-portfolio__item-photo--small, .b-portfolio__item:nth-child(n+4):nth-child(3n+1) .b-portfolio__item-photo--small {
      display: block;
      width: 100%; }
    .b-portfolio__item:nth-child(n+4):nth-child(2n) {
      float: left; }
  .b-portfolio__item-heading {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    display: table; }
    .b-portfolio__item-heading .b-portfolio__item-heading-wrapper {
      padding: 10px; }
    .b-portfolio__item-heading .b-portfolio__item-heading-inner {
      overflow: hidden;
      display: table;
      width: 100%; }
    .b-portfolio__item-heading .b-portfolio__item-info {
      vertical-align: middle;
      display: table-cell;
      width: 100%; }
    .b-portfolio__item-heading .b-portfolio__item-contractor-pic-wrapper {
      padding: 0 10px 0 0;
      vertical-align: middle; }
      .b-portfolio__item-heading .b-portfolio__item-contractor-pic-wrapper .b-portfolio__item-contractor-pic {
        width: 70px;
        border-radius: 35px; }
    .b-portfolio__item-heading .b-portfolio__item-heading-username {
      float: left;
      margin: 0 0 10px 0;
      text-decoration: none;
      font-size: 16px;
      color: #ffffff;
      font-weight: bold; }
      .b-portfolio__item-heading .b-portfolio__item-heading-username .b-portfolio__item-heading-confirmed {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(images/sprites/icons/tick.png) no-repeat; }
    .b-portfolio__item-heading .b-portfolio__item-heading-photos-cnt {
      float: right;
      font-size: 12px;
      padding: 0 0 0 18px;
      background: url(images/sprites/icons/camera.png) 0 50% no-repeat; }
    .b-portfolio__item-heading .b-portfolio__item-heading-title {
      display: block;
      color: #ffffff;
      clear: both;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
